// COMPASS IMPORT
@import "compass/reset"
@import "compass/css3"
@import "compass/css3/selection"
@import "compass/layout/sticky-footer"
@import "mixins/variables.sass"
@import "mixins/toolbox.sass"

// STICKY FOOTER
+sticky-footer(57px, "#sticky-container", "#sticky-footer", "footer")

// RESPONSIVE IMAGES
.img-container
    display: block
    background: none

    >img
        max-width: 100%
        border: none
        margin: 0 auto
        display: block

// DEFAULT STYLES
*
    +box-sizing(border-box)

html
    font-size: 62.5%

body
    font: 100%/1.618 sans-serif
    color: $gray
    +background(image-url('whitey.png'), 50%, 50%, repeat)

a
    text-decoration: none
    font-weight: 700
    cursor: pointer

ul
    overflow: hidden

em
    font-style: italic
    
#container
    height: 100%
    +font(1.6, 300, inherit, 'Lato' sans-serif)

#sticky-container
    background: rgba(249, 235, 197, .3)

.left
    width: 50%
    float: left

.right
    width: 50%
    float: right

.content
    max-width: 1044px
    margin: 0 auto
    padding: 0 10px

#header
    background: $blue
    padding-top: 15px

    .content
        overflow: hidden

    li
        width: 50%
        +font(1.8, inherit, 70px, inherit)
        text-transform: uppercase

        a
            color: $tan
            font-weight: 100

    .left, .right
        width: 45%

    .left
        li
            float: left

    .right
        li
            float: right
            text-align: right

    #link-home
        width: 30px
        text-align: center
        margin: 0 auto
        display: block

// FOOTER
footer
    overflow: hidden
    background: $blue

    .left
        p
            +font(1.2, 400, 57px, 'Lato' sans-serif)

    .right
        padding: 15px 0

        ul
            float: right
        li
            display: inline-block
            opacity: .5
            padding: 0 0 0 5px

        a
            width: 25px

@media screen and (min-width: 601px)
    a
        +transition-property(color)
        +transition-duration(.6s)

        &:hover
            +transition-property(color)
            +transition-duration(.4s)

    #header
        li
            a
                opacity: .7
                +transition-property(opacity)
                +transition-duration(.6s)

                &:hover
                    opacity: 1
                    +transition-property(opacity)
                    +transition-duration(.4s)

        .active
            a
                opacity: 1
                padding-top: 1px
                border-top: 1px solid $tan
                font-weight: 700

    #home-arrow
        width: 0
        height: 0
        border-left: 20px solid transparent
        border-right: 20px solid transparent
        border-top: 20px solid $blue
        display: block
        margin: 0 auto

@media screen and (max-width: 600px)
    #header
        padding-top: 0

        li
            width: 100%
            margin: 0 auto
            line-height: inherit

            a
                display: block
                line-height: 55px

            &:first-child
                border-bottom: 1px solid rgba(249, 235, 197, .3)

                a
                    line-height: 54px

        .left, .right
            +calc(width, '50% - 30px')

            li
                float: none
                text-align: center

        #link-home
            margin-top: 30px
            width: 20px

        .active
            a
                background: rgba(0,0,0,.4)

@media screen and (min-width: 481px)
    footer
        #footer-nav
            display: none

        .right
            li
                +transition-property(opacity)
                +transition-duration(.6s)

                &:hover
                    opacity: 1
                    +transition-property(opacity)
                    +transition-duration(.4s)

@media screen and (max-width: 480px)
    // STICKY FOOTER
    +sticky-footer(150px, "#sticky-container", "#sticky-footer", "footer")

    footer
        padding: 20px 0

        .left, .right
            float: none
            width: 100%

        .left
            p
                line-height: inherit
                // +font-size(1.2)
                text-align: center

        .right
            padding: 0

            ul
                float: none
                text-align: center
                max-height: 35px

            li
                display: inline-block
                padding: 0

            a
                width: 35px
                padding: 0 5px

        #footer-nav
            width: 100%
            text-align: center
            padding: 20px 0

            li
                display: inline-block
                // +font-size(1.4)

                a
                    color: $tan
                    font-weight: 300
                    padding: 0 10px

                &:after
                    content: ""
                    opacity: .8
                    border-right: 1px solid $gray

                &:last-child
                    &:after
                        content: ""
                        border: none