// COMPASS IMPORT
@import "layout/core.sass"
@import "layout/common.sass"

#intro
    text-align: center
    padding: 3% 0 5%

    .img-container
        width: percentage(150px / 1020px)
        display: inline-block

#creatives
    .divider
        margin: 0 auto 2%

    li
        overflow: hidden
        padding-bottom: 3%

        &:last-child
            padding: 0

    .user-info
        display: table
        width: 100%

        .table-left
            .img-container
                +image(630px, 630px)
                +circle-image()

    .bio
        position: relative
        overflow: hidden

        p, ul
            padding: 0 0 3%

        p:last-of-type
            padding: 0

        em
            font-style: italic

        p
            span
                font-weight: 700

        .bio-list
            li
                width: 45%
                display: inline-block
                padding: 0

                &:before
                    content: "+"
                    padding: 0 3% 0 0
                    font-weight: 700
                    display: inline-block
                    min-width: 10px
                    min-height: 10px

        .next
            li
                padding: 1.5% 0 0

                &:first-child
                    padding: 2.5% 0 0

                span
                    padding: 0 2% 0 0
                    font-weight: 700

        .social
            padding: 3% 0 0

            li
                display: inline-block
                opacity: .7
                padding: 0 1% 0 0

                a
                    width: 40px

@media screen and (min-width: 781px)
    #creatives
        .table-left, .table-right
            display: table-cell
            vertical-align: middle
            border-collapse: collapse

        .table-left
            width: 30%

        .table-right
            width: 65%
            padding-left: 5%

@media screen and (max-width: 780px)
    #creatives
        .table-left, .table-right
            margin: 0 auto

        .table-left
            width: 60%

        .table-right
            padding: 3% 0 0

        .divider
            &:before, &:after
                width: 30%

        li
            .table-left, .table-right
                display: block

@media screen and (min-width: 481px)
    #creatives
        .social
            li
                +transition-property(opacity)
                +transition-duration(.6s)

                &:hover
                    opacity: 1
                    +transition-property(opacity)
                    +transition-duration(.4s)


@media screen and (max-width: 480px)
    #creatives        
        .bio
            .bio-list
                li
                    width: 100%
                    display: block