#page
  padding: 3% 0 5%
  overflow: hidden

  p
    padding-bottom: 2%

  a
    font-weight: 400
    color: $blue
    +underline($blue, $background, $gray)

    &:hover
      color: $lightblue

  h2
    +font(3, inherit, inherit, 'Droid Serif' Georgia serif)
    padding-bottom: 3%
    color: $darkgray
    text-align: center

  .left, .right
    width: 45%

section
  padding-bottom: 7%
  clear: both
  overflow: hidden

  h3
    display: none
    +font(3, 100, inherit, 'Lato' sans-serif)
    margin: 0 auto 3%
    position: relative
    text-align: center
    text-transform: uppercase

  .divider
    display: block

    .img-container
      width: 8%
      margin: 0 auto

    &:before, &:after
      content: ""
      opacity: .4
      +calc(width, '44% - 50px')
      height: 1px
      display: block
      position: absolute
      background: $gray
      top: 50%

    &:before
      left: 3%

    &:after
      right: 3%

  &:last-child
    padding: 0

// SCREENS SMALLER THAN 751px
@media screen and (max-width: 750px)
  #page
    h2
      +font(2.5, inherit, inherit, 'Droid Serif' Georgia serif)

  section
    padding-bottom: 5%

    h3
      +font(2.5, 100, inherit, 'Lato' sans-serif)

    .divider
      &:before, &:after
        +calc(width, '44% - 40px')

// SCREENS SMALLER THAN 601px
@media screen and (max-width: 600px)
  #page
    padding: 5% 0

    h2
      display: none